{% extends 'layouts/base.jinja' %}
{% block title %}Home{% endblock %}
{% block body %}
	<div class="col-lg-8 main-content">
        <!-- Main Content Column -->
        {% for post in post_list %}
		{% if post.main==1 %}
        <div class="col-lg-12">
            <h1 class="page-header">
                Welcome here
                <small>and don't worry!</small>
            </h1>
                <!-- Post 1 -->
				{% if post.image %}
				<a href="{{ url('blog:post', post.pk) }}" title="{{ post.title }}">
                <img class="img-responsive" src="/{{ post.image.url }}" alt="{{ post.title }}">
				</a>
				{% endif %}
                <h2>
                    <a href="{{ url('blog:post', post.pk) }}" title="{{ post.title }}">{{ post.title }}</a>
                </h2>
                <p>{{ post.body|truncate(1000)|striptags }}</p>
				<!-- /.Post 1 -->
        </div>
		{% else %}
        <div class="col-md-6 well">
                <!-- Post 2+ -->
				{% if post.image %}
				<a href="{{ url('blog:post', post.pk) }}" title="{{ post.title }}">
                <img class="img-responsive" src="/{{ post.image.url }}" alt="{{ post.title }}">
				</a>
				{% endif %}
                <h3>
                    <a href="{{ url('blog:post', post.pk) }}" title="{{ post.title }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.body|truncate(500)|striptags }}</p>
				<!-- /.Post 2+ -->
        </div>
		{% endif %}
		{% endfor %}
        <!-- /.Main Content Column -->
	</div>
{% include 'layouts/sidebar.jinja' %}
{% endblock %}