<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="{% block author %}Dmitry Cheva{% endblock %}">
    <title>{% block title %}Main{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    <!-- Bootstrap theme CSS -->
    <link id="styleSheet" href="{% if local_vars['style_sheet'] %}{{ local_vars['style_sheet'] }}
    {% else %}{{ static('bootstrap/css/darkly.min.css') }}{% endif %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ static('css/main.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ static('images/favicon.png') }}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        var staticCss = "{{ static('bootstrap/css/') }}";
    </script>
</head>
<body>
{% include 'layouts/navigation.jinja' %}
<!-- Page Content -->
<div class="container">
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
    <!-- Footer -->
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                2014 ツ <a target="_blank" href="http://linkedin.com/in/cheusov">cheva</a>
                (◕‿◕) <a target="_blank" href="http://djangoproject.com">Django</a>
            </div>
        </div>
        <!-- /.row -->
    </footer>
    <!-- Modal window -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            {% block modal %}
                {% include 'user/register_form.jinja' %}
            {% endblock %}
        </div>
    </div>
    <!-- jQuery -->
    <script src="{{ static('jquery/jquery.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ static('js/main.js') }}"></script>
</div>
<!-- /.container -->
</body>
</html>