<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Blog Search Well -->
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" id="blog-search-text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
        <!-- /.input-group -->
    </div>
	<!-- /.Blog Search Well -->
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-xs-6">
                <ul class="list-unstyled">
                    <li><a href="#">Lorem ipsum</a>
                    </li>
                    <li><a href="#">Inventore</a>
                    </li>
                    <li><a href="#">Tempore quos</a>
                    </li>
                    <li><a href="#">Aspernatur veroul</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6">
                <ul class="list-unstyled">
                    <li><a href="#">Perspiciatis adipisci</a>
                    </li>
                    <li><a href="#">Adipisicing elit</a>
                    </li>
                    <li><a href="#">Dolor sit amet</a>
                    </li>
                    <li><a href="#">Laudantium odit</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-xs-6 -->
        </div>
        <!-- /.row -->
    </div>
	<!-- /.Blog Categories Well -->
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Blog Widget Well</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus
            laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
</div>