{% extends 'layouts/base.jinja' %}
{% block title %}Blog list{% endblock %}
{% block extrahead %}{% endblock %}
{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="page-header">
                Blog
                <small>newest</small>
            </h1>
            {% for post in post_list %}
                <!-- Post -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <h2>
                    <a href="{{ url('blog:post', post.pk) }}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by <a href="#">Cheva</a>
                    <small>
                        <span class="glyphicon glyphicon-time"></span> {{ post.created|date('Y-m-d H:i') }}
                    </small>
                </p>
                <hr>
                <p>{{ post.body|truncate(1000)|striptags }}</p>
                <a class="btn btn-primary" href="{{ url('blog:post', post.pk) }}">Comments ({{ post.comments.count() }})
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
            {% endfor %}
            {% set pg = post_list %}{% include "layouts/pager.jinja" %}
        </div>
        {% include 'blog/_sidebar.jinja' %}
    </div>
    <!-- /.row -->
{% endblock %}