<div class="pagination">
    <span class="step-links">
        {% if pg.has_previous()>0 %}
            <a href="{{ url('page', pg.previous_page_number()) }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ pg.number }} of {{ pg.paginator.num_pages }}.
        </span>
        {% if pg.has_next()>0 %}
            <a href="{{ url('page', pg.next_page_number()) }}">next</a>
        {% endif %}
    </span>
</div>