{% extends 'layouts/base.jinja' %}
{% block title %}User{% endblock %}
{% block body %}
<div class="col-lg-8 main-content">
<!-- Cabinet Content Column -->
</div>
{% include 'layouts/sidebar.jinja' %}
{% endblock %}
