{% extends 'layouts/base.jinja' %}
{% block title %}Register form{% endblock %}
{% block extrahead %}{% endblock %}
{% block body %}
        <!-- Form Column -->
        <div class="col-md-8 main-content">
            <h1 class="page-header">
                New user
                <small>registration</small>
            </h1>
        </div>
        {% include 'layouts//sidebar.jinja' %}
		<script>var showRegistrationForm = true</script>
{% endblock %}
